.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.image{
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 432px) {
  .container{
    margin-top: 7px;
  }
}