@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

.content__container{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'NanumBarunGothic',
  sans-serif;
  background-color: rgb(255, 252, 248);
  padding: 10px;
  width: 100%;
}
.content__container h6{
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}
.content__container h4{
  width:100%;
  color: rgb(255, 115, 0);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  height: max-content
}
.content__container h5{
  width: 100%;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}
.content__container p{
  width: 100%;
  color: rgb(65, 51, 40);
  font-size: 18px;
  line-height: 26px;
  white-space: pre-line;
}
.text__container{
  justify-content: start;
}

@media screen and (max-width: 680px){
  .content__container h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .content__container h5{
    font-size: 16px;

  }
  .content__container p{
    font-size: 15px;
    line-height: 18px;
  }
}