.container{
  height: max-content;
  font-family: 'Pretendard-Regular';
  align-items: center;
  position: relative;
  word-break: keep-all;
  border-bottom: 4px solid rgb(233, 233, 233);
  padding-bottom: 60px;
}

.container h2{
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  height: max-content;
}
.container .border{
  position: absolute;
  top: 40px;
  left:0;
  right: 0;
  margin: 0 auto;
  background-color: rgb(255, 115, 0);
  width: 50px;
  height: 2px;
}
.container h3{
  margin-top: 20px;
  font-style: italic;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 17px;
}

.content__container{
  margin-top: 40px;
  width: 100%;
  height: max-content;
  display: flex;
  text-align: center;
  word-break: keep-all;
  align-content: center;
  justify-content: center;
}
.content__container .icon{
  font-size: 50px;
}
.content__container .item__container{
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  color: #555;
  cursor: pointer;
  transition: .75s;
}
.content__container .item__container:hover{
  color:rgb(255, 141, 47);
  transition: .4s;
}
.content__container .item__container .title{
  margin-top: 15px;
  font-size: 20px;
}
.content__container .item__container .subtitle{
  margin-top: 15px;
  font-size: 15px;
  line-height: 15px;
}
@media screen and (max-width: 900px) {
  .content__container{
    margin-top: 20px;
  }
  .content__container .item__container .title{
    font-size: 17px;
  }
  .content__container .item__container .subtitle{
    font-size: 12px;
  }
}
@media screen and (max-width: 686px) {

  .content__container {
    margin-top: 20px;
  }

  .content__container .item__container .title {
    font-size: 17px;
  }

  .content__container .item__container .subtitle {
    font-size: 12px;
  }
}
@media screen and (max-width: 490px) {
  .container h2{
    font-size: 25px;
    margin-top: 40px;
  }
  .container .border{
    top: 32px;
  }
  .container h3{
    font-size: 15px;
  }
  .content__container {
    flex-wrap: wrap;
  }
  .content__container .item__container{
    width: 140px;
    margin-bottom: 15px;  
  }
  .content__container .item__container .title {
    font-size: 17px;
    margin-top: 5px;
  }

  .content__container .item__container .subtitle {
    font-size: 12px;
    margin-top: 5px;
  }

  .container{
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 340px) {
  .content__container .item__container {
    width: 110px;
  }
}