@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.banner {
  width: 100%;
  height: 500px;
  /* background: url("../img/bg.jpg"); */
  background: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.banner_content {
  display: flex;
  align-items: center;
  height: 600px;
  /* color: #fff; */
  color: black;
  background-color: rgba(225, 253, 255, 0.178);
  width: 100%;
}

.banner_text {
  width: 700px;
  padding-bottom: 5vh;
  margin-left: 17vw;
}

.banner_text h1 {
  font-size: 38px;
  line-height: 45px;
  font-family: 'NanumSquareRound',
    sans-serif;
  font-weight: bold;
  margin-top: 5px;
}
.banner_text h2 {
  font-size: 38px;
  line-height: 45px;
  font-family: 'NanumSquareRound',
    sans-serif;
  font-weight: bold;
  margin-top: 5px;
}

.banner_text h3 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 600;
}

.banner_text h4 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  font-family: 'Roboto',
    sans-serif;
}

.banner_btn {
  margin-top: 35px;
}
@media (max-width: 1300px){
  .banner_text {
    margin-left: 120px;
  }
}
@media (max-width: 1200px){
  .banner_text {
    margin-left: 60px;
  }
}

@media (max-width: 900px){
  .banner{
    height: 500px;
  }
  .banner_text{
    width: auto;
    margin-left: 25px;
  }
  .banner_text h1{
    font-size: 30px !important;
    line-height: 35px;
  }
  .banner_text h2{
    font-size: 30px !important;
    line-height: 35px;
  }
  .banner_text h3{
    font-size: 50px; 
  }
  .banner_text h4{
    font-size: 25px;
    margin-top: 10px;
  }
}

@media (max-width: 680px) {
  .banner{
    height: 300px !important;
  }
  .banner_text {
    width: auto;
  }

  .banner_text h1 {
    font-size: 24px !important;
    line-height: 30px;
  }
  .banner_text h2 {
    font-size: 24px !important;
    line-height: 30px;
  }

  .banner_text h3 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 20px;
    line-height: 0px;
  }

  .banner_text h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
  }

  /*custom*/
  .banner {
    height: 300px;
  }

  .banner_content {
    height: inherit
  }


}

@media (max-width: 330px) {
  .banner_text h1 {
    font-size: 20px !important; 
  }
  .banner_text h2{
    margin-top: 0px;
    font-size: 20px !important;
  }
  .banner_text h3{
    font-size: 30px;
  }
  .banner_text h4{
    font-size: 20px;
  }
}