@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.container:first-child{
  border-top: none;
}

.container{
  font-family: "SUIT-Medium", sans-serif;
  border-top: 1.5px solid rgba(255, 206, 70, 0.226)
  ;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}
.container .title{
  font-size: 19px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 12px;
  color: rgb(255, 94, 0);
}
.container .imgContainer {
  width: 25%;
  display: flex;
  justify-content: center;
  border-right: 1.5px solid rgba(255, 115, 0, 0.562);
  cursor: pointer;
}
.container .contextContainer{
  width: 75%;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.container .contextContainer p{
  font-size: 16px;
  white-space: pre-line;
  line-height: 22px;
  transition: 1s;
  width: 100%;
  height: fit-content;
}
.container .contextContainer p:hover{
  padding-left: 5px;
  color: rgb(235, 86, 0);
  cursor: default;
}
.container .contextContainer .button{
  padding: 4px 6px;
  border: 1px solid rgb(235,86,0);
  height: fit-content;
  margin-top: 5px;
  border-radius: 3px;
  font-size: 14px;
  transition: 1s;
}
.container .contextContainer .button:hover{
  background-color: rgb(235, 86, 0);
  border: 1px solid white;
  color: white;
}

@media(max-width: 500px){
  .container .title{
    font-size: 15px;
  }
  .container .imgContainer{
    width: 30%;
  }
  .container .contextContainer{
    width: 70%;
    padding-left: 5px;
  }
  .container .contextContainer p{
    font-size: 12px;
    line-height: 15px;
  }
  .container .contextContainer .button{
    font-size: 12px;
    padding: 3px 4px;
  }
}
@media(max-width: 320px){
  .container .imgContainer{
    width: 42%;
  }
  .container .contextContainer{
    width: 58%;
  }
}