.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7c2ae8;
}

.container{
  position: relative;
  top:0;
  margin: 0 auto;
  background-color: white;
}
.container .loginContainer{

}
.container .border{

}
.container .styleContainer{

}
.container .styleContainer h4{

}
.container .styleContainer h3{

}