@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mainContainer {
  width: 100%;
  margin-top: 30px;
  /* min-height: 100%; */
  /* height: fit-content; */
  height: 100%;
  /* display: flex; */
  padding-top: 10px;
  /* justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start; */
}
.addPostContainer{
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-bottom: -15px;
  align-items: center;
}
.addPostButton{
  margin-right: 40px;
  background-color:rgb(255, 155, 0);
  padding: 6px 14px;
  border-radius: 3px;
    font-family: 'NanumSquareRound',
  sans-serif;
  color: white;
  cursor: pointer;
  transition: .5s;
}
.addPostButton:hover{
  background-color: rgb(214, 129, 0);
}
.pagination{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}
.currentPage{
  background-color: rgb(255, 155, 0) !important;
  color: white;
}
.page{
  background-color: rgb(255, 228, 189);
  width: 22px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-family: 'NanumSquareRound',
  sans-serif;
  cursor: pointer;
  border: 1px solid rgb(202, 122, 2);
  border-radius: 2px;
  transition: .5s;
  font-size: 14px;
}
.page:hover{
  background-color: rgb(255, 191, 94)
}
.gotoContainer{
  display: flex;
  justify-content: center;
  font-family: 'NanumSquareRound',
  sans-serif;
  margin-top:10px;
  font-size: 12px;
  align-items: center;
}
.input{
  width: 30px;
  margin-right: 2px;
}
.gotoContainer p{
  padding-top: 4px;
}
.button{
  border-radius: 3px;
  border: 1px solid rgb(255, 155, 0);
  margin-left: 5px;
  padding: 2px 4px;
  cursor: pointer;
  background-color: rgba(255, 153, 0, 0.136);
  transition: .4s;
}
.button:hover{
  background-color: rgba(255, 153, 0, 0.3);
}
@media screen and (max-width: 668px) {
.page{
  width: 15px;
  height: 17px;
  font-size: 10px;
}
}