


.navbar-mobile{
  display: flex;
  align-items: center;
  min-height: 60px;
  width: 100%;
  font-family: 'Pretendard-Regular',
  sans-serif;
  z-index: 9999999;
}
.navbar-mobile-logo{
  margin-left: 20px;
  cursor: pointer;
  width: 200px;
}
.mobile-menu-icon{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
.mobile-nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 150%; */
  /*모바일 메뉴바 크기*/
  position: absolute;
  top: 60px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
  justify-content: flex-start;
  color: white;
  font-family: 'Pretendard-Regular',
  sans-serif;
  font-size: 15px;
  text-align: center;
}
.mobile-arrowIcon{
  padding-top: 12px;
}


.mobile-nav-menu.active {
  background: rgba(51, 50, 50, 0.98);
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.mobile-nav-title{
  padding: 6px 0 15px 0;
  border-bottom: 2px solid #555;
  cursor: pointer;
  padding-left: 12px;
}
.mobile-nav-title.mobile-nav-title-selected {
  background: #222;
}

.mobile-nav-item{
  padding: 11px 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.589);
  cursor: pointer;
  font-size: 15px;
}
.mobile-nav-item a{
  text-decoration: none;
  color: white;
}
.mobile-login{
  padding: 4px 4px;
  border-radius: 4px;
  /* background-color: #c6eeec6b;
  border: 1.5px solid #55bcc9; */
  background-color: rgb(255, 222, 195);
  border: 1.5px solid rgb(255, 115, 0);
  margin-right: 15px;
  font-size: 16px;
  /* font-weight: bold; */
  /* width: 150px; */
  display: inline-block;
  word-break: keep-all;
  text-align: center;
  font-family: 'Pretendard-Regular',
  sans-serif;
  
}

@media screen and (max-width: 420px){
  .mobile-login {
    width: 100px;
    font-size: 6px;
    padding: 2px 0px;
    font-weight: bold;
    line-height: 11px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 289px) {
  .mobile-login {
    width: 70px;
    font-size: 6px;
    padding: 2px 0px;
    font-weight: bold;
    line-height: 11px;
    margin-right: 5px;
  }
}